$primary: #607d8b;
$secondary: #ff3d00;
$background: #f0efed;
$hover-background: rgba(96, 125, 139, 0.08);
$text: #5c626c;
$font-family-default: "Roboto", "Helvetica", "Arial", sans-serif;
$font-size-default: 0.875rem;
$paper-margin: 24px;
$paper-top-margin: 8px;